@model IdentityServer.Areas.HeliosAdminUI.Models.IdentityResources.IdentityResourceListViewModel;
@{
    if (ViewBag.Error == true)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            An error occured while processing your request. Contact your administrator. <br />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    if (ViewBag.isSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Your operation was a <strong>success</strong>. <br />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<div class="row p-3 m-3">
    <a class="btn btn-primary" asp-controller="IdentityResources" asp-action="Index"> <i class="bi bi-arrow-left-circle-fill"></i> Go back</a>

    <a class="btn btn-success ml-auto" asp-controller="IdentityResources" asp-action="Create">Add Identity Resource <i class="bi bi-lightning"></i></a>

</div>
<div class="card">
    <div class="card-header identity-resource-theme"></div>
    <div class="card-body">
        <h4 class="card-title">Identity resources List</h4>
        <hr />
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">DisplayName</th>
                    <th scope="col">ClaimList</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var identityResource in Model.IdentityResourcesList)
                {
                    <tr>
                        <td>@identityResource.Name</td>
                        <td>@identityResource.DisplayName</td>
                        <td>
                            @foreach (var claim in identityResource.UserClaims)
                            {
                                <p>@claim</p>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@identityResource.Id" class="btn btn-success text-white">
                                <i class="bi bi-pen"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@identityResource.Id" class="btn btn-danger text-white">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
